body {
    font-family: 'Montserrat', sans-serif;
}

.item-title {
    color: #4E5150;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-title {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.label {
    color: #4F4F4F;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#email, #phone, #name, #address, #city, #postal {
    border-radius: 12px;
    border: 1px solid #828282;
    width: 100%;
    padding: 18px 0px 18px 32px;
    margin-bottom: 20px;
}

.country {
    border-radius: 12px;
    border: 1px solid #828282;
    width: 100%;
    padding: 18px 0px 18px 32px;
    margin-bottom: 20px;
}

.postal {
    border-radius: 12px;
    width: 100%;
    padding: 18px 0px 18px 32px;
    margin-bottom: 20px;
}

.last-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.btn {
    float: right;
    border-radius: 12px;
    background: #F2994A;
    border: none;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 17px 45px;
}


.product {
    display: flex;
    gap: 20px;
}


.image > img{
    border-radius: 20px;
    height: 60%;
}

.product-title {
    color: #4E5150;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-price {
    color: #F2994A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.item-img{
    border-radius: 12px;
    background:#F2F2F2;
    padding: 20px;
    
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ship {
    color: var(--gray-1, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ship-value {
    color: #333;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width:576px) {
    .container {
        flex-direction: column-reverse;
    }

    #email, #phone, #name, #address, #city, #postal {
        border-radius: 12px;
        border: 1px solid #828282;
        width: 90%;
        padding: 18px 0px 18px 32px;
        margin-bottom: 20px;
    }

    .last-row {
        display: grid;
    }

    .country {
        border-radius: 12px;
        border: 1px solid #828282;
        padding: 18px 0px 18px 32px;
        margin-bottom: 20px;
    }
    
    .postal {
        border-radius: 12px;
        padding: 18px 0px 18px 32px;
        margin-bottom: 20px;
    }
}